
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb mb-4 mt-5">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>
        <hr />
        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos </th>
                    <th> Correo </th>
                    <th> Activo </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white" >
                <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="row g-2">

                    <input id="txtIdUsuario" type="hidden" value="0"/>

                    <div class="col-sm-6">
                        <label for="txtNombres" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="txtNombres" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtApellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtApellidos" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtCorreo" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="txtCorreo" autocomplete="off">
                    </div>

                    <div class="col-sm-6">
                        <label for="cboActivo" class="form-label">Activo</label>
                        <select class="form-select" id="cboActivo">
                            <option value="1">Sí</option>
                            <option value="0">No</option>
                            
                        </select>
                    </div>
                </div>

                <div class="row mt-2">
                    <div id="mensajeError" class="col-12">
                        <div class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>
                    </div>
                  
                </div>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        var tablaData;
        var filaSeleccionada;



        tablaData = $("#tabla").DataTable({

            resposive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("listarUsuario", "Home")',
                type: "GET",
                datatype: "json"
            },
            "columns": [
                {
                    "data": "Nombre"
                },
                {
                    "data": "Apellido"
                },
                {
                    "data": "Correo"
                },
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return '<span class="badge bg-success">Si</span>'
                        } else {
                            return '<span class="badge bg-danger">No</span>'
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen me-1"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-eliminar"><i class="fas fa-trash me-1"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.1/i18n/es-ES.json"
            }
        });


        function abrirModal(json) {

                $("#txtIdUsuario").val(0),
                $("#txtNombres").val(""),
                $("#txtApellidos").val(""),
                $("#txtCorreo").val(""),
                $("#cboActivo").val(1),

                $("#mensajeError").hide()

            if (json != null) {

                    $("#txtIdUsuario").val(json.IdUsuario),
                    $("#txtNombres").val(json.Nombre),
                    $("#txtApellidos").val(json.Apellido),
                    $("#txtCorreo").val(json.Correo),
                    $("#cboActivo").val(json.Activo == true ? 1 : 0)
            }

            $("#FormModal").modal("show");
        }


        $("#tabla tbody").on("click", ".btn-editar", function () {

             filaSeleccionada = $(this).closest("tr");

            var data = tablaData.row(filaSeleccionada).data();

            abrirModal(data)

            console.log(data)
        });


        $("#tabla tbody").on("click", ".btn-eliminar", function () {

            var UsuarioSeleccionado = $(this).closest("tr");

            var data = tablaData.row(UsuarioSeleccionado).data();

            swal({
                title: "Are you sure?",
                text: "Desea eliminar el usuario?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Yes",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
            function () {

                 jQuery.ajax({
                     url: '@Url.Action("EliminarUsuario", "Home")',
                     type: "POST",
                     data: {
                         id: data.IdUsuario
                     },
                     datatype: "json",
                     contenType: "application/json;charset=utf-8",
                     success: function (data) {

                         debugger;

                         if (data.resultado == true) {
                             tablaData.draw(UsuarioSeleccionado).remove().draw;
                             
                         } else {
                             swal("no se puede eliminar", data.mensaje, "error")
                         }
                     },
                     error: function () {
                         console.log(data.mensaje);
                     }

                 });
            });

                

        })


        function Guardar() {
            var Usuario = {
                IdUsuario: $("#txtIdUsuario").val(),
                Activo: $("#cboActivo").val() == 1 ? true: false,
                Apellido: $("#txtApellidos").val(),
                Correo: $("#txtCorreo").val() ,
                Nombre: $("#txtNombres").val(),
            }

                jQuery.ajax({
                    url: '@Url.Action("GuardarUsuarios", "Home")',
                    type: "POST",
                    data: Usuario,
                    datatype: "json",
                    contenType: "application/json;charset=utf-8",
                    success: function (data) {

                        $(".modal-body").LoadingOverlay("hide")


                        //usuario nuevo
                        if (Usuario.IdUsuario == 0) {


                            if (data.resultado != 0) {
                                Usuario.IdUsuario = data.resultado;
                                tablaData.row.add(Usuario).draw(false);
                                $("#FormModal").modal("hide");
                            } else {

                                $("#mensajeError").text(data.mensaje);
                                $("#mensajeError").show();
                            }

                        }
                         //usuario editar
                        else
                        {
                            if (data.resultado == true) {
                                tablaData.row(filaSeleccionada).data(Usuario).draw(false);
                                filaSeleccionada == null,
                                $("#FormModal").modal("hide");
                            } else {
                                $("#mensajeError").text(data.mensaje);
                                $("#mensajeError").show();
                            }
                        }

                        console.log
                    },
                    error: function (error) {

                        $(".modal-body").LoadingOverlay("hide")
                        $("#mensajeError").text("error ajax");
                        $("#mensajeError").show();
                    },
                    beforeSend: function () {
                        $(".modal-body").LoadingOverlay("show", {
                            imageResizeFactor: 2,
                            text: "Cargando...",
                            size: 14
                        });
                    }
                });





        }

    </script>
}